<h2>Most Reviewed Products</h2>
<% if @products.try(:any?) %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No new products to show.</p>
<% end %>

<h2>American made products</h2>


<p><%= link_to "View all Products", products_path %></p>
