<h1>Mario's</h1>
  <h2>Products</h2>
  <%= link_to "Add a product", new_product_path %>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No new products to show.</p>
<% end %>
