<h1>Reviews</h1>
<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li><%= link_to review.name, review_path(review.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews to show.</p>
<% end %>

<p><%= link_to "Products", products_path %></p>
