<% if @product.reviews.any? %>
<h4><%= @product.reviews.length %> Reviews</h4>
<% @product.reviews.each do |review| %>
<ul>
  <li>
    <%= review.author %><br>
    <%= review.rating %> stars<br>
    <%= review.content_body %>
  </li>
</ul>
<% end %>
<% else %>
<p>This product has no reviews.</p>
<% end %>
